.log-in {
  text-align: center;
}

#email,
#password,
#login-submit {
  font-size: medium;
  width: 350px;
  height: 50px;
  border-radius: 10px;
}

#login-submit {
  color: whitesmoke;
  background-color: rgb(18, 4, 153);
}
