.log-in,
.sign-up {
  text-align: center;
}

#email,
#password,
#login-submit,
#signup-submit,
#lastName,
#firstName,
#logEmail,
#logPassword,
#room {
  font-size: medium;
  width: 350px;
  height: 50px;
  /* border-radius: 10px; */
}

#login-submit,
#signup-submit {
  color: whitesmoke;
  /* background-color: rgb(18, 4, 153); */
  margin-top: 10px;
}

.container {
  text-align: center;
}

.form-control {
  margin-left: 250px;
  width: 50%;
}

#root {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

#cardDeck {
  flex-wrap: wrap;
  flex: initial;
}

#aboutbtn,
#searchbtn,
#btn {
  margin-bottom: 1000px;
}
